/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 8, 2019, 5:17:08 PM
    Author     : cristhiandgz
*/

@import "ejercicio2.css";

.transporte, .destinos{
    border: 1px solid;
    width: 300px;
    margin: 10px auto;
}